Weird sawtooth cwnd in response to spurious congestion events

<div align="center">
<img width="400" alt="image" src="https://user-images.githubusercontent.com/7017404/217678869-6268afc8-710b-42a4-a5a9-9b7d27cd90b8.png">
</div>

Hello! I am plotting the cwnd of tcp and curl+quiche over a long-running connection in the same simulation environment as I've previously described. The BDP of this connection is ~250 packets, which is the optimal cwnd. You can see that TCP grows to this cwnd, reduces it in response to congestion loss, then grows and repeats. _However, when quic's cwnd reaches ~250 packets, it starts to exhibit this weird sawtooth behavior._ The quic client oscillates between decreasing its cwnd based on a [congestion_event](https://github.com/cloudflare/quiche/blob/master/quiche/src/recovery/cubic.rs#L373) and doing a [rollback](https://github.com/cloudflare/quiche/blob/master/quiche/src/recovery/cubic.rs#L415). This is unexpected behavior.

I think I've traced the issue to an incorrect interpretation of [RFC8312 Section 4.9](https://datatracker.ietf.org/doc/id/draft-ietf-tcpm-rfc8312bis-00.html#section-4.9) (as cited in the code):
"In cases where CUBIC reduces its congestion window in response to having detected packet loss via duplicate ACKs or timeouts, there is a possibility that the missing ACK would arrive after the congestion window reduction and a corresponding packet retransmission."

In these lines of code: https://github.com/cloudflare/quiche/blob/master/quiche/src/recovery/cubic.rs#L229-L249, a spurious congestion event is implemented as when not that many packets, in general, have been lost since the last cubic state was saved. But the RFC states that spurious congestion events are when we mark a packet as lost and start congestion recovery, but then that packet is ACKed. Does that seem right? I don't think I should be observing any spurious loss events in this simulation.

```
    // Detecting spurious congestion events.
    // <https://tools.ietf.org/id/draft-ietf-tcpm-rfc8312bis-00.html#section-4.9>
    //
    // When the recovery episode ends with recovering
    // a few packets (less than cwnd / mss * ROLLBACK_THRESHOLD_PERCENT(%)), it's
    // considered as spurious and restore to the previous state.
    if r.congestion_recovery_start_time.is_some() {
        let new_lost = r.lost_count - r.cubic_state.prior.lost_count;
        let rollback_threshold = (r.congestion_window / r.max_datagram_size) *
            ROLLBACK_THRESHOLD_PERCENT /
            100;
        let rollback_threshold = rollback_threshold.max(MIN_ROLLBACK_THRESHOLD);

        if new_lost < rollback_threshold {
            let did_rollback = rollback(r);

            if did_rollback {
                return;
            }
        }
    }
```

Actually I'm pretty sure the code here (https://github.com/cloudflare/quiche/blob/master/quiche/src/recovery/mod.rs#L535-L537) implements rollback as defined in [draft-ietf-tcpm-rfc8312bis-00](https://datatracker.ietf.org/doc/id/draft-ietf-tcpm-rfc8312bis-00.html#section-4.9)? Which is, it checks if an acked packet has previously been marked lost, and rolls back the cwnd accordingly.

And when I delete the "spurious congestion event" code copied in the original comment, the sawtooth behavior disappears and quic's behavior using cubic matches tcp's behavior using cubic.

It was implemented to get some perf improvement in the production network, such as mobile/wifi where spurious losses happen in the field. In your controlled environment its threshold may be too sensitive, so you may want to tune it or comment it and see (looks like you already did it). There are some differences other than that (e.g. linux tcp cubic implements hystart but quiche implements hystart++), I don't expect linux tcp cubic and quiche quic cubic behave exactly same.

To close the loop on this issue, I just meant to point out that if the goal was to implement the IETF draft referenced in the code, then I do not think that was achieved.

The draft defines a spurious congestion event as when a "missing ACK would arrive after the congestion window reduction and a corresponding packet retransmission", similar to another implementation in quiche I linked above, whereas the code here is just checking if the rate of packet loss has decreased since the last checkpoint. From [when the code here was originally merged](https://github.com/cloudflare/quiche/pull/890), this was the author's own detection algorithm, not following a specific standard.

If the goal was only to improve performance, sure. It significantly improves performance in my environment as well. But I was concerned this is due to the congestion control being overly aggressive and possibly unfair.